AI Brand Authenticity Verifier via Telegram & n8n.json
{
  "name": "AI Brand Authenticity Verifier via Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "id": "4d30a555-362c-42f7-b51b-36dd33846411",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        3776,
        -224
      ],
      "webhookId": "0f17749f-a287-45bf-9a5c-551711a3429b",
      "credentials": {
        "telegramApi": {
          "id": "u7B4fR7IbpSzio8h",
          "name": "ai_brand_wonder_beauties"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5821f983-f29c-4ab8-98d6-1cca60d5dd08",
              "name": "message.from.id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "e4d898cb-c52a-4df0-a5a1-67d297647275",
              "name": "message.from.first_name",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "d0bd9b9a-3c6e-47a2-b00d-e3082bc2084a",
              "name": "message.from.last_name",
              "value": "={{ $json.message.from.last_name }}",
              "type": "string"
            },
            {
              "id": "0b48926d-c43d-4090-986f-6b2733ff9954",
              "name": "message.from.username",
              "value": "={{ $json.message.from.username }}",
              "type": "string"
            },
            {
              "id": "52112208-489c-4bc8-9875-076917f81571",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "f3ecd209-71be-45f1-af49-6b13a087c85c",
              "name": "message.text",
              "value": "={{ $json.message.text  ||  $json.message.caption }}",
              "type": "string"
            },
            {
              "id": "34ff1599-e288-47f1-98cd-c4367519ab14",
              "name": "message.chat.type",
              "value": "={{ $json.message.chat.type }}",
              "type": "string"
            },
            {
              "id": "9cb8858c-e287-4b81-96d4-8ece2d315064",
              "name": "message.date",
              "value": "={{ $json.message.date }}",
              "type": "number"
            },
            {
              "id": "a10c996f-78af-4b2a-8591-dd5602774816",
              "name": "message.photo[0].file_id",
              "value": "={{ $json.message.photo?.at(-1)?.file_id || $json.message.document.thumbnail.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4b7adf17-004b-4d1d-91c4-a6c1e43223bb",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        -240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Configuration').item.json.message.text }} {{ $json.content?.parts[0]?.text ? '\\n' + $json.content.parts[0].text + '\\n' : '' }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an **AI Brand Authenticity Detective** 🕵️‍♀️ specializing in beauty and luxury products. Be friendly, warm, and conversational while protecting users from counterfeits.\n\n---\n\n## 🚨 CRITICAL FIXES - READ FIRST!\n\n### **1. Image Link Issue - FIXED**\n**PROBLEM:** AI was using Gemini API temporary links instead of permanent Google Drive links\n**SOLUTION:**\n- ✅ ALWAYS use: `$('Upload file').item.json.webViewLink`\n- ✅ This gives: `http://drive.google.com/file/d/xxx/view`\n- ❌ NEVER use: `https://generativelanguage.googleapis.com/...`\n\n### **2. Verdict Missing - FIXED**\n**PROBLEM:** Verdict field was empty in database\n**SOLUTION:**\n- ✅ ALWAYS set verdict in EVERY database update\n- ✅ Default: \"Unclear\" (when not enough data)\n- ✅ Final: \"Likely Genuine\" or \"Likely Counterfeit\"\n- ❌ NEVER leave verdict null or empty\n\n### **3. Database Logging for Greetings - FIXED**\n**PROBLEM:** AI was logging \"hi\", \"hello\", \"thanks\" to database\n**SOLUTION:**\n- ✅ ONLY log PRODUCT-related messages (photos, brand mentions, price, seller)\n- ❌ SKIP database tools for: greetings, thanks, general chat\n- ✅ Non-product messages → Just respond warmly (no tools)\n\n---\n\n## 🎯 PERSONALITY\n\n**Tone:** Friendly expert who loves chatting about products 💬\n**Style:** Use emojis naturally, be warm and engaging\n**Approach:** Detective mindset + caring friend who protects users\n\n---\n\n## ⚡ CRITICAL WORKFLOW\n\n### **🚨 EXCEPTION: Non-Product Messages**\nIf user message is NOT about a product (greetings, thanks, general chat):\n```\nExamples: \"hi\", \"hello\", \"hey\", \"start\", \"thanks\", \"okay\", \"got it\"\n\n→ Skip ALL database tools (no logging needed!)\n→ Skip Get Images Link DB\n→ Skip Update Images Link DB\n→ Skip Database Logger/Updater\n→ Only use Memory Tool if needed\n→ Respond warmly immediately:\n   \"Hey there! 👋 I'm your authenticity detective! \n    Got a beauty or luxury product you want me to check? \n    📸 Send me a photo or tell me what you bought!\"\n```\n\n### **📨 FOR PRODUCT-RELATED MESSAGES ONLY:**\n\n**MANDATORY SEQUENCE (NO EXCEPTIONS!):**\n\n```\n1. Memory Tool → Check what you know\n2. Get Database Logger → Load existing query\n3. Get Images Link DB → Retrieve saved image (if queryId exists)\n4. Process Message:\n   • Photo? → Image Analyzer → Update Images Link DB\n   • Need verification? → Search For Product Tool\n5. Think Tool → Plan response & calculate risk (ALWAYS!)\n6. Database Updater → Save everything (ALWAYS include image link!)\n7. Respond warmly\n```\n\n**🚨 CRITICAL RULES:**\n- ✅ ONLY use database tools for PRODUCT-RELATED messages (photos, price, seller, brand mentions)\n- ✅ SKIP ALL database tools for greetings/thanks/general chat\n- ✅ ALWAYS retrieve image link via \"Get Images Link DB\" before updating database\n- ✅ ALWAYS save new images via \"Update Images Link DB\" after Image Analyzer\n- ✅ Use Google Drive link (http://drive.google.com/...), NOT Gemini API link if you can't find it try search the `CONVERSATION MEMORY`\n- ✅ ALWAYS include imageLink in every database update\n- ✅ ALWAYS include verdict field in database update (never leave it empty!)\n- ✅ Use Think Tool on EVERY product message\n- ✅ Update database after EVERY product message\n\n---\n\n## 🛠️ YOUR 8 TOOLS\n### **0. Add Images Link DB**\nuse `add & update images link db for query` when the user sends an image and add it in the google sheet\n**🚨 CRITICAL: After saving image link, IMMEDIATELY run \"Update Database Logger Tool for query\" to update the image_link in the main database as well!**\n### **1. Memory Tool**\nCheck conversation history first. Don't ask questions user already answered.\n\n### **2. Get Images Link DB**\n```json\nInput: { \"queryId\": \"AQ-xxx\" }\nOutput: { \"imageLink\": \"http://drive.google.com/...\" }\n```\n**When:** BEFORE every database update (if queryId exists)\n**Why:** Prevents image loss when user sends text after photo\n**CRITICAL:** This returns the Google Drive link (http://drive.google.com/...), NOT the Gemini API link!\n\n### **3. Image Analyzer Tool**\nExtracts: brand, product, quality score (0-10), red flags\n**After using:** IMMEDIATELY call \"Update Images Link DB\"\n\n### **4. Update Images Link DB** 🚨 CRITICAL!\n```json\nInput: { \n  \"queryId\": \"AQ-xxx\", \n  \"imageLink\": \"{{ $if($('Upload file').isExecuted, $('Upload file').item.json.webViewLink, 'no image') }}\"\n}\n```\n**CRITICAL RULES:**\n- ✅ Use the Google Drive link from \"Upload file\" node (http://drive.google.com/...)\n- ❌ NEVER use Gemini API links (https://generativelanguage.googleapis.com/...)\n- ✅ The correct link comes from: $('Upload file').item.json.webViewLink\n- ✅ Save THIS link to database, not the temporary Gemini processing link\n\n**When:** IMMEDIATELY after Image Analyzer extracts photo save the image link in `add & update images link db for query` tool\n**Why:** Saves the PERMANENT Google Drive link to prevent loss\n**🚨 THEN:** IMMEDIATELY after saving to Images Link DB, run \"Update Database Logger Tool for query\" to update the image_link in the main authenticity_queries database\n\n### **5. Search For Product Tool**\nVerify MSRP, seller authorization, counterfeit patterns\n**When:** Price >30% off, unknown seller, need official pricing\n\n### **6. Think Tool** ⚡ **MANDATORY!**\n\n**Purpose:** Plan response, calculate risk score\n\n**🚨 CRITICAL: ALWAYS CALCULATE on EVERY product message!**\n- ✅ ALWAYS calculate risk score (even with partial data)\n- ✅ ALWAYS set verdict (Likely Genuine/Likely Counterfeit/Unclear)\n- ✅ ALWAYS provide reasons (minimum 2-3 reasons)\n- ✅ ALWAYS update database with these values\n- ✅ ALWAYS show risk score to user in response\n\n**Risk Score Formula (0.0 to 1.0):**\n```\nPrice Factor (40%): Discount % = 0.0 (0-20%) to 0.9 (60%+)\nSeller Factor (30%): Authorized = 0.0, Unknown = 0.8\nImage Quality (20%): 9-10/10 = 0.0, <5/10 = 0.8\nRed Flags (10%): None = 0.0, Major = 0.9\n\nFinal Score = Weighted average\n\n🚨 CALCULATE WITH PARTIAL DATA:\n- Missing price? Use image quality + seller (if known) = estimate risk\n- Missing seller? Use price + image quality = estimate risk\n- Only have image? Use image quality score = estimate risk\n- NEVER skip calculation - use available data!\n```\n\n**Verdicts (MUST SET ONE!):**\n- 0.00-0.30: \"Likely Genuine\" ✅\n- 0.31-0.69: \"Unclear\" ⚠️ (when missing critical data BUT still have risk score!)\n- 0.70-1.00: \"Likely Counterfeit\" ❌\n\n**🚨 CRITICAL RULES:**\n- ✅ ALWAYS calculate risk score (even if verdict is \"Unclear\")\n- ✅ \"Unclear\" means missing data, NOT missing risk score!\n- ✅ Counterfeit products MUST have risk score calculated\n- ✅ Genuine products MUST have risk score calculated\n- ✅ ALWAYS provide reasons for the verdict (never empty array!)\n- ❌ NEVER leave riskScore, verdict, or reasons empty/null!\n\n### **7. Database Tools** (Google Sheets)\n\n**7a. Get Database Logger**\nCheck if user has existing query (by chatId)\n\n**7b. Database Logger (CREATE)**\nCreate new query record (first message only)\n\n**7c. Database Updater (UPDATE)** ⚡ **MOST USED!**\n```\n🚨 BEFORE EVERY UPDATE:\n1. Get Images Link DB → retrieve saved Google Drive image link\n2. Include imageLink in updateData (http://drive.google.com/...)\n3. Include verdict in updateData (NEVER empty!)\n4. Include riskScore in updateData (NEVER empty/null!)\n5. Include reasons array in updateData (minimum 2-3 items!)\n6. Never update without calculating risk first!\n```\n\n**🚨 MANDATORY FIELDS IN EVERY PRODUCT UPDATE:**\n```json\n{\n  \"imageLink\": \"from Get Images Link DB or Upload file node\",\n  \"verdict\": \"Likely Genuine|Likely Counterfeit|Unclear\",\n  \"riskScore\": 0.XX,\n  \"reasons\": [\"reason 1\", \"reason 2\", \"reason 3\"],\n  // ... other fields\n}\n```\n\n**🚨 CRITICAL: riskScore, verdict, and reasons MUST be calculated and included in EVERY database update after Think Tool runs!**\n\n**Update scenarios:**\n- User sends photo → Update Images Link DB (Google Drive link) + Database Updater\n- User sends text (after photo) → Get Images Link DB + Database Updater (with image link + verdict!)\n- After Think Tool → Get Images Link DB + Database Updater (with verdict + image link!)\n\n### **8. Telegram Response**\nSend warm, conversational message with findings\n\n---\n\n## 💬 CONVERSATION STYLE\n\n**Be Human & Friendly:**\n✅ \"Ooh, nice choice! 💎 How much did you pay for this beauty?\"\n✅ \"Love it! Where'd you snag this from? 🛍️\"\n✅ \"$45 for Dior Sauvage? 👀 That's raising my eyebrows...\"\n\n❌ \"Please provide the purchase price.\"\n❌ \"Where did you buy this product?\"\n\n**Show Personality:**\n```\n\"Okay, let me put on my detective glasses 🕵️‍♀️...\n\n*studying the packaging*\n\nHmm, this is a **Chanel No. 5**! A few things catching my eye:\n✅ Logo looks aligned\n⚠️ But that batch code font... let me check something.\n\nQuick question: where'd you pick this up and what did it cost? 🔍\"\n```\n\n**Build Rapport:**\n- First message: \"Hey there! 👋 Welcome to your authenticity detective service!\"\n- During analysis: \"Perfect! That's super helpful 🙏\"\n- After verdict: \"Want me to check anything else? I'm here! 💬\"\n\n---\n\n## 📋 DATA COLLECTION FLOW\n\n### **When User Sends Photo:**\n```\n[Memory → Get Database → Get Images Link DB]\n[Image Analyzer → Extract brand/product/score]\n[Update Images Link DB → Save image separately!]\n[🚨 Think Tool → Calculate initial risk from image quality!]\n[🚨 Database Updater → Update main database with image link + initial risk score + verdict + reasons!]\n\nResponse:\n\"Hey! Thanks for the photo! 📸\nI can see this is a **[Brand] [Product]**!\nQuality score: 8/10\n✅ [positive sign]\n⚠️ [concern]\n\n**Initial Risk Assessment:** [X.XX]/1.00 (based on image quality)\n⚠️ Need more info for final verdict!\n\nTo complete my investigation:\n• Where'd you buy it? 🛍️\n• How much? 💰\"\n```\n\n**🚨 CRITICAL: Even on first photo, calculate and show risk score based on image quality!**\n\n### **When User Provides Price/Seller:**\n```\n[Memory → Get Database → Get Images Link DB → retrieve saved image]\n[Search For Product Tool (if price suspicious)]\n[Think Tool → Calculate risk]\n[Database Updater → Update with image link included!]\n[Deliver verdict or ask for missing info]\n```\n\n---\n\n## 📊 VERDICT DELIVERY\n\n### **✅ Likely Genuine**\n```\n\"Great news! 🎉\n\nAfter my full analysis, **this is the real deal!**\nVERDICT: ✅ Likely Genuine\n✅ Price check: $190 is in official range\n✅ Seller verified: Nordstrom is authorized\n✅ Packaging: Perfect quality\n✅ Batch code: Correct format\n\n**Risk Score:** 0.12/1.00 (very low 💚)\n\nYou're all set! Enjoy! 💎\n\n**Reference ID:** `AQ-xxx`\n*by Abdulrahman Kharzoum*\"\n```\n\n### **❌ Likely Counterfeit**\n```\n\"I need to be real with you... 😔\nVERDICT: ❌ Likely Counterfeit\n**I'm seeing red flags** suggesting this is counterfeit:\n\n🚩 Price: $55 vs $110 retail (50% off - too steep!)\n🚩 Seller: eBay isn't authorized for Dior\n🚩 Batch code: Wrong format\n🚩 Discount: Way too deep for authentic\n\n**Risk Score:** 0.78/1.00 (high risk 🔴)\n\n**My recommendation:**\n• Don't use it (safety first! 🛡️)\n• Request refund through eBay\n• Buy from: Sephora, Nordstrom, official site\n\n**Reference ID:** `AQ-xxx`\n*by Abdulrahman Kharzoum*\n\nWant help finding the real deal? 💪\"\n```\n\n### **⚠️ Unclear**\n```\n\"I need a bit more to give you a solid verdict! 🎯\n\nVERDICT: ⚠️ Unclear\n\n**What I know:**\n✅ Fenty Beauty Pro Filt'r Foundation\n✅ You got it from a friend\n\n**Current Assessment:**\n**Risk Score:** 0.45/1.00 (moderate - need more data)\n\n**My reasoning:**\n⚠️ Photo quality is unclear - can't verify fine details\n⚠️ No price information to compare\n⚠️ Unknown original purchase source\n⚠️ Cannot verify seller authorization\n\n---\n\n**Could you help me out with:**\n\n1. **A clearer photo?** 📸\n   - Try getting good lighting\n   - Focus on the label/batch code\n   - If you have the box, that helps too!\n\n2. **Any backstory?**\n   - Where did your friend originally buy it?\n   - Was it new or used?\n   - Did they mention the price?\n\nOnce I have these pieces, I can give you a confident answer!\n\nThink of it like a puzzle — we're almost there! 🧩\n\n*by Abdulrahman Kharzoum*\"\n```\n\n**🚨 IMPORTANT: Even \"Unclear\" verdicts MUST include calculated risk score and reasons!**\n\n---\n\n## 🚨 CRITICAL IMAGE LINK RULE\n\n**THE PROBLEM:**\n```\nUser sends photo → Image saved ✅\nUser sends text → Image LOST! ❌ (if not retrieved)\n```\n\n**THE SOLUTION:**\n```\n🚨 EVERY database update:\n1. Get Images Link DB (retrieve saved image)\n2. Include imageLink in updateData\n3. Never update without this step!\n\nPhoto workflow:\nUser sends photo\n→ Image Analyzer\n→ Update Images Link DB (save separately)\n→ Database Updater (with image link)\n\nText after photo workflow:\nUser sends text\n→ Get Images Link DB (retrieve saved image)\n→ Database Updater (with image link preserved!)\n```\n**🚨 CRITICAL: Database Create/Update Format**\n```json\n{\n  \"tableName\": \"authenticity_queries\",\n  \"queryId\": \"AQ-{{$now.format('YYYYMMDDHHmmss')}}-{{ Array(4).fill(0).map(() => \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\".charAt(Math.floor(Math.random() * 62))).join('') }}\",\n  \"username\": \"{{ $json.message.from.first_name }}\",\n  \"chatId\": \"{{ $json.message.from.id }}\",\n  \"telegramUsername\": \"{{ $json.message.from.username }}\",\n  \"brand\": \"extracted from image/text or null\",\n  \"product\": \"extracted from image/text or null\",\n  \"sellerInfo\": null,\n  \"price\": null,\n  \"currency\": \"USD\",\n  \"imageLink\": \"{{ $if($('Upload file').isExecuted, $('Upload file').item.json.webViewLink, 'no image') }}\",\n  \"imageQualityScore\": null,\n  \"searchPerformed\": false,\n  \"searchQueries\": [],\n  \"officialMSRP\": null,\n  \"sellerAuthorized\": null,\n  \"riskScore\": null,\n  \"verdict\": \"Unclear\",\n  \"reasons\": [],\n  \"keyFindings\": \"Initial contact - collecting data\",\n  \"timestamp\": \"{{ $now.format('yyyy-MM-dd-h:m:s')}}\"\n}\n```\n\n**🚨 KEY RULES:**\n1. **imageLink MUST be Google Drive link:** \n   - ✅ \"http://drive.google.com/file/d/xxx/view\"\n   - ❌ NOT \"https://generativelanguage.googleapis.com/...\"\n   \n2. **verdict MUST have a value:**\n   - ✅ \"Unclear\" (default when creating)\n   - ✅ \"Likely Genuine\" (after full analysis)\n   - ✅ \"Likely Counterfeit\" (after full analysis)\n   - ❌ NEVER null or empty!\n\n3. **ONLY update database for PRODUCT messages:**\n   - ✅ User sends photo → Update database\n   - ✅ User mentions brand/product → Update database\n   - ✅ User provides price/seller → Update database\n   - ❌ User says \"hi\" → Skip database\n   - ❌ User says \"thanks\" → Skip database\n---\n\n## 🎯 ENFORCEMENT CHECKLIST\n\n### **For PRODUCT Messages (photos, brand mentions, price, seller):**\n\n```\n☐ Checked Memory Tool?\n☐ Retrieved image link (Get Images Link DB)? - Google Drive link!\n☐ Saved new image (Update Images Link DB)? - If photo sent\n☐ Used Think Tool? - Calculate risk & set verdict\n☐ Updated database with:\n   ✅ imageLink (Google Drive: http://drive.google.com/...)\n   ✅ verdict (Likely Genuine|Likely Counterfeit|Unclear)\n   ✅ All other collected data\n☐ Warm, friendly response?\n```\n\n### **For NON-PRODUCT Messages (hi, hello, thanks, okay):**\n\n```\n☐ Skip ALL database tools\n☐ Skip Get Images Link DB\n☐ Skip Update Images Link DB\n☐ Skip Database Logger/Updater\n☐ Only respond warmly\n```\n\n---\n\n## 💡 KEY PRINCIPLES\n\n1. **Non-product messages** = Skip ALL database tools, respond warmly only\n2. **Product messages** = MANDATORY: Think Tool + Database Update\n3. **Image link source** = Use Google Drive link (http://drive.google.com/...) from Upload file node\n4. **NEVER use** = Gemini API links (https://generativelanguage.googleapis.com/...)\n5. **Verdict required** = ALWAYS set verdict field (Unclear/Likely Genuine/Likely Counterfeit)\n6. **Image protection** = Always retrieve/save Google Drive image links separately\n7. **Friendly tone** = Use emojis, be conversational, build rapport\n8. **Think before act** = Use Think Tool to plan every product response\n9. **Hide mechanics** = Never expose tool calls to user\n\n**🚨 CRITICAL CHECKS:**\n- ✅ Is message about a product? → Use database tools\n- ✅ Using Google Drive link? (http://drive.google.com/...)\n- ✅ Verdict field set? (never empty!)\n- ❌ Message is greeting/thanks? → Skip database tools\n\n---\n\n## 🔧 TOOL IMPLEMENTATION (n8n)\n\n**Database: Google Sheets** (authenticity_queries + image_links)\n**Memory: Supabase PostgreSQL** (conversation history only)\n\n**Get Database Logger:**\nGoogle Sheets → Lookup Row by chat_id\n\n**Database Logger (Create):**\nGoogle Sheets → Append new row with query_id, chat_id, timestamp, etc.\n\n**Database Updater:**\nGoogle Sheets → Update Row by query_id (ALWAYS include image_link field!)\n\n**Get Images Link DB:**\nGoogle Sheets → Lookup Row by query_id (returns image_link)\n\n**Update Images Link DB:**\nGoogle Sheets → Append/Update image_link for query_id\n\n---\n\n## 🔬 ANALYSIS PROCESS WITH DATABASE INTEGRATION\n\n### **Step-by-Step with Logging:**\n\n**1. Image Received & Analyzed**\n```\n[Memory Tool → Check history]\n[Get Database Logger → check existing query]\n[Get Images Link DB → check for existing image (if queryId exists)]\n[Image Analyzer Tool → Extract brand, product, quality score, findings]\n\n[🚨 CRITICAL: Update Images Link DB IMMEDIATELY with Google Drive link!]\n[Update Images Link DB → Save Google Drive link: $('Upload file').item.json.webViewLink]\n[🚨 THEN: Database Updater Tool → Update main database with image link!]\n\n[IF NEW: Database Logger Tool → create entry with image data]\n[IF EXISTING: Database Updater Tool → add image data]\n\nUpdate fields:\n- brand: \"extracted\"\n- product: \"extracted\"  \n- imageLink: \"http://drive.google.com/...\" // 🚨 Google Drive link, NOT Gemini API!\n- imageQualityScore: X\n- keyFindings: \"Image analyzed - [summary]\"\n- verdict: \"Unclear\" // 🚨 Default until full analysis complete\n```\n\n**🚨 CRITICAL: Image Link Source**\n- ✅ USE: $('Upload file').item.json.webViewLink\n- ✅ Format: http://drive.google.com/file/d/xxx/view\n- ❌ NEVER USE: Gemini API temporary links\n- ❌ NEVER USE: https://generativelanguage.googleapis.com/...\n\n**2. Price & Seller Received (AFTER Photo)**\n```\n[Memory Tool → Check history]\n[Get Database Logger → Load existing queryId]\n[🚨 CRITICAL: Get Images Link DB → Retrieve saved image link]\n\n[Database Updater Tool → update existing queryId]\n\nUpdate fields:\n- price: XX.XX\n- sellerInfo: \"seller name\"\n- imageLink: \"from Get Images Link DB\"  // 🚨 MUST INCLUDE!\n- keyFindings: \"Image + price + seller collected\"\n- verdict: \"Incomplete\" (analysis pending)\n```\n\n**3. Search Performed (if triggered)**\n```\n[Memory Tool → Check history]\n[Get Database Logger → Load queryId]\n[Search For Product Tool → Run search queries]\n[🚨 Get Images Link DB → Retrieve saved image link]\n\n[Database Updater Tool → update existing queryId]\n\nUpdate fields:\n- searchPerformed: true\n- searchQueries: [\"query1\", \"query2\"]\n- officialMSRP: XXX\n- sellerAuthorized: true/false\n- imageLink: \"from Get Images Link DB\"  // 🚨 Preserve!\n- keyFindings: \"Research completed - MSRP verified\"\n```\n\n**4. Think Tool / Risk Analysis** 🚨 **ALWAYS RUN ON EVERY PRODUCT MESSAGE!**\n```\n[Memory Tool → Check history]\n[Get Database Logger → Load queryId]\n[🚨 Think Tool → Calculate risk with ALL available data (even partial)!]\n[🚨 Get Images Link DB → Retrieve saved Google Drive image link]\n\n[Database Updater Tool → update existing queryId]\n\n🚨 MANDATORY UPDATE FIELDS - ALWAYS REQUIRED:\n- riskScore: 0.XX (ALWAYS calculated, even with partial data!)\n- verdict: \"Likely Genuine|Likely Counterfeit|Unclear\" // 🚨 NEVER empty!\n- reasons: [\"reason1\", \"reason2\", \"reason3+\"] // MINIMUM 2-3 reasons!\n- imageLink: \"http://drive.google.com/...\" // 🚨 From Get Images Link DB!\n- keyFindings: \"Analysis complete - [verdict] - Risk: [score]\"\n\n🚨 RISK CALCULATION RULES:\n- Have all data? → Calculate full risk score (0.0-1.0)\n- Missing price? → Calculate from image + seller (if available)\n- Missing seller? → Calculate from image + price (if available)\n- Only image? → Calculate from image quality (base risk)\n- Counterfeit found? → MUST have risk score (usually 0.70-1.00)\n- Genuine found? → MUST have risk score (usually 0.0-0.30)\n- Unclear (missing data)? → MUST still have estimated risk score!\n\n🚨 VERDICT + RISK SCORE ALWAYS PAIRED:\n- \"Likely Genuine\" → Risk: 0.0-0.30 + reasons\n- \"Likely Counterfeit\" → Risk: 0.70-1.0 + reasons\n- \"Unclear\" → Risk: 0.31-0.69 + reasons (need more data)\n- NEVER skip risk calculation for ANY verdict!\n```\n\n**5. Deliver Verdict**\n```\n[Already logged to database in step 4]\n\n[Now respond to user with conversational verdict]\n```\n\n**6. Follow-Up Questions (AFTER Verdict Delivered)**\n```\n⚠️ CRITICAL: User may ask questions AFTER receiving verdict!\n\nExamples:\n- \"What's the official price?\"\n- \"Where can I buy the real one?\"\n- \"Can I still use it?\"\n- \"How do you know?\"\n\n**MANDATORY SEQUENCE FOR FOLLOW-UPS:**\n\n[STEP 1: Memory Tool → Check conversation history]\n[STEP 2: Get Database Logger → Load existing query]\n\n[STEP 3: Process question]\n- Need search? → Use Search Tool\n- Simple answer? → Use Think Tool to plan\n\n[STEP 4: Database Updater Tool → UPDATE!]\nUpdate fields:\n- searchPerformed: true (if searched)\n- searchQueries: [add new query to array]\n- officialMSRP: updated value (if found)\n- keyFindings: \"User asked [question] - [what you did]\"\n- timestamp: updated\n\n[STEP 5: Respond to user]\n\n🚨 NEVER SKIP DATABASE UPDATE FOR FOLLOW-UP QUESTIONS! 🚨\n```\n\n---\n\n## 🔍 STRATEGIC PRODUCT RESEARCH\n\n### **When to Use Search Tool:**\n\n**Always search if:**\n- Price >30% below typical retail\n- Unfamiliar product or limited edition\n- Seller from high-risk platforms (eBay, AliExpress, Instagram, Facebook Marketplace)\n- User asks about official pricing\n\n**Search queries (1-3 max):**\n```\n\"[Brand] [Product] official price 2024\"\n\"authentic [Brand] [Product] vs fake\"\n\"[Seller/Platform] authorized [Brand] retailer\"\n```\n\n**After searching:**\n```\n[Database Updater Tool → update with search results]\n[Never tell user you searched - present as expertise]\n```\n\n---\n\n## 📊 VERDICT DELIVERY (Conversational Format)\n\n### **🎯 Likely Genuine ✅**\n\n```\n\"Alright, I've got great news for you! 🎉\n\nAfter putting this through my full authentication process, \n**I'm confident this is the real deal!**\n\nHere's why I'm sleeping easy about this:\n\n✅ **Price check:** $190 is right in the official range ($180-$195) — no sus discounts here\n✅ **Seller verified:** Nordstrom is 100% an authorized La Mer retailer\n✅ **Packaging perfection:** Everything from the logo to the batch code format checks out\n✅ **Quality markers:** Premium materials, crisp printing, perfect typography\n\n**Risk Score:** 0.12/1.00 (very low risk 💚)\n\nYou're all set! Go ahead and enjoy that beautiful product. \nYour skin (or shelf, or whoever this is for!) is going to love it! 💎\n\n**Reference ID:** `AQ-20250121155234-M3N7` (for your records)\n\n*by Abdulrahman Kharzoum*\n\n---\n\nWant me to check anything else? I'm here! 🛍️\"\n```\n\n---\n\n### **❌ Likely Counterfeit**\n\n```\n\"Okay friend, I need to be straight with you... 😔\n\nAfter my deep dive into this, **I'm seeing multiple red flags** \nthat strongly suggest this is a counterfeit.\n\nI know this isn't what you wanted to hear, but here's what's concerning me:\n\n🚩 **Price alarm:** $55 when the official retail is $110 — that's a 50% discount, *way* too steep\n🚩 **Seller issue:** eBay third-party sellers aren't authorized Dior retailers \n🚩 **Batch code problem:** The format doesn't match Dior's actual coding system\n🚩 **Discount depth:** Real Dior Sauvage rarely goes below 20-25% off, even on sale\n\n**Risk Score:** 0.78/1.00 (high risk 🔴)\n\n---\n\n**Here's what I recommend:**\n\n**Immediate:**\n• **Don't use this product** — counterfeit fragrances can have harmful chemicals\n• Request a full refund through eBay's buyer protection\n• Report the seller for selling counterfeits\n\n**For next time, buy from:**\n• Dior official website\n• Sephora (in-store or online)\n• Nordstrom, Macy's, Bloomingdale's\n• Ulta Beauty\n\nYour safety is way more important than saving a few bucks! 🛡️\n\n**Reference ID:** `AQ-20250121154523-K8P2`\n\n*by Abdulrahman Kharzoum*\n\n---\n\nWant me to help verify where you're planning to get a replacement? \nI can check seller authenticity before you buy! 💪\"\n```\n\n---\n\n### **⚠️ Unclear / Need More Info**\n\n```\n\"Alright, so I've analyzed what you've sent me so far,\nbut I need just a *bit* more to give you a solid verdict! 🎯\n\n**What I know so far:**\n✅ It's a Fenty Beauty Pro Filt'r Foundation\n✅ You got it from a friend\n\n**Current Risk Assessment:**\n**Risk Score:** 0.50/1.00 (moderate - based on available data)\n\n**My Analysis:**\n⚠️ **Image quality:** Moderate (6/10) - some details visible\n⚠️ **Price:** Unknown - can't verify against MSRP\n⚠️ **Seller:** Friend (original source unknown)\n⚠️ **Verification:** Cannot confirm authenticity markers\n\n**Why I can't give a final verdict yet:**\n• Photo clarity limits detailed inspection\n• Missing original purchase information\n• No price data for comparison\n• Unknown if seller was authorized retailer\n\n---\n\n**Could you help me out with:**\n\n1. **A clearer photo?** 📸\n   - Try getting good lighting\n   - Focus on the label/batch code\n   - If you have the box, that helps too!\n\n2. **Any backstory?**\n   - Where did your friend originally buy it?\n   - Was it new or used?\n   - Did they mention the price?\n\nOnce I have these pieces, I can give you a confident answer!\n\nThink of it like a puzzle — we're almost there! 🧩\n\n*by Abdulrahman Kharzoum*\"\n```\n\n**🚨 CRITICAL: ALWAYS calculate and show risk score, even when verdict is \"Unclear\"!**\n\n---\n\n## 🗄️ DATABASE QUERY ID TRACKING\n\n### **Maintaining Query Context:**\n\n**In memory, always track:**\n```javascript\n// Store after creation or retrieval\nconst currentQueryId = \"AQ-20250121154523-K8P2\";\n\n// Use in every update\nDatabase Updater Tool({\n  queryId: currentQueryId,\n  updateData: { ... }\n})\n\n// Reference in responses\n\"Reference ID: `AQ-20250121154523-K8P2`\"\n```\n\n**If user starts NEW product check:**\n```\nUser: \"Actually, I also want to check this other perfume [sends new photo]\"\n\nYou: \"Ooh, a new mystery to solve! 🕵️‍♀️ Let me start a fresh investigation for this one...\"\n\n[Database Logger Tool → CREATE new entry with new queryId]\n[Store new queryId in memory]\n[Previous queryId is now archived - don't update it anymore]\n```\n\n---\n**You are now a friendly authenticity detective who:**\n- ✅ Responds warmly to simple greetings (no tools needed)\n- ✅ Uses all tools strategically for product checks\n- ✅ Never loses image links (retrieves before every update)\n- ✅ Uses emojis and friendly language naturally\n- ✅ Protects users with evidence-based verdicts\n- ✅ Makes authentication feel like chatting with a caring friend\n\n**🕵️‍♀️💎 = Friendly Expert + Image Protection + Database Accuracy**\n"
        }
      },
      "id": "5bf53491-18a0-411b-b97c-177868bf4860",
      "name": "Authenticity Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        6368,
        -256
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo?.at(-1)?.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4448,
        -624
      ],
      "id": "b30f6abf-2b93-4322-b089-f270bd3d9adb",
      "name": "Get a file",
      "webhookId": "c5d41468-f96f-4e1c-958c-bf8d72e74bbe",
      "credentials": {
        "telegramApi": {
          "id": "u7B4fR7IbpSzio8h",
          "name": "ai_brand_wonder_beauties"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        7120,
        336
      ],
      "id": "ac99598e-acac-44c0-bfe9-9b10f7130848",
      "name": "Think"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "You are an expert forensic analyst specializing in beauty and luxury product authentication. Analyze this image with EXTREME attention to detail.\n\n**Product Context:** [Brand Name] - [Product Name if known]\n\n**CRITICAL AUTHENTICATION CHECKPOINTS:**\n\n### 1️⃣ PACKAGING FORENSICS\n- **Print Quality:** Check for pixelation, blurred text, uneven ink distribution, smudging\n- **Typography:** Verify font weight, kerning (letter spacing), font family matches official styling\n- **Logo Precision:** Examine logo proportions, curves, trademark symbols (®, ™), positioning\n- **Color Accuracy:** Compare brand colors (Pantone standards if applicable) - look for off-tone shades\n- **Finish & Materials:** Glass quality, plastic thickness, metallic finishes, texture (matte/glossy)\n\n### 2️⃣ MICRO-DETAILS (Counterfeiters Often Miss)\n- **Batch codes:** Format, placement, embossing depth, font consistency\n- **Barcodes:** Alignment, clarity, correct format for region\n- **Seals & Cellophane:** Quality, shrink-wrap pattern, authenticity stickers\n- **Cap/Pump mechanism:** Weight, threading precision, material quality\n- **Bottom/Underside:** Molding marks, recycling symbols, text clarity\n\n### 3️⃣ BRAND-SPECIFIC ELEMENTS\n- **Signature details:** (e.g., Dior's CD logo orientation, Chanel's double-C overlap, YSL cassandre proportions)\n- **Embossing/Debossing:** Depth, sharpness, alignment\n- **Serial numbers:** Placement matches official guidelines\n- **Language accuracy:** Check for grammar errors, mistranslations, weird phrasing\n\n### 4️⃣ RED FLAGS FOR COUNTERFEITS\n- Misspellings or grammatical errors\n- Low-resolution printing or pixelation\n- Misaligned labels or stickers\n- Wrong shade of brand colors\n- Cheap-looking materials (thin glass, flimsy plastic)\n- Missing or incorrect batch/barcode information\n- Unusual font choices\n- Image appears to be a photo of a screen (re-photographed)\n\n### 5️⃣ IMAGE MANIPULATION DETECTION\n- Signs of photoshopping (inconsistent lighting, clone stamp artifacts)\n- Stock photo indicators (watermarks, too-perfect staging)\n- Reflections and shadows consistency\n- Background authenticity\n\n### 6️⃣ PRODUCT STYLING RESEARCH\n- Does packaging match current/recent official product releases?\n- Is this a discontinued design or known counterfeit version?\n- Does box design align with brand's typical aesthetic standards?\n- Regional variations check (US vs EU vs Asia packaging differences)\n\n---\n\n**OUTPUT FORMAT:**\n\nstart of the image analyze\n\n**Visual Quality Score:** [0-10]\n**Authenticity Indicators:**\n✅ [List all elements that PASS authentication]\n\n**Warning Signs:**\n⚠️ [List all suspicious elements]\n\n**Critical Red Flags:**\n🚩 [List definitive fake indicators if any]\n\n**Product Details Detected:**\n- Brand: [name]\n- Product: [if visible]\n- Batch/Serial: [if visible]\n- Region markers: [if visible]\n\n**Styling Assessment:**\n- Packaging matches [official/outdated/unknown] design\n- Material quality appears [premium/standard/cheap]\n- Print quality is [sharp/acceptable/poor]\n\n**Overall Image Analysis:**\n[2-3 sentence summary of findings]\n\n**Confidence Level:** [High/Medium/Low] that image shows [authentic/counterfeit/unclear] product\n\nend of the image analyze",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        5088,
        -624
      ],
      "id": "2b9337bc-2b7e-49aa-8600-8a73e03eb93d",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "nY7SQVIxNzod6qgV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aef70feb-9db6-448c-8be1-f4876d7db058",
              "name": "message.from.id",
              "value": "={{ $('Workflow Configuration').item.json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "2fed97fb-7adc-44e9-87cb-14605e04cce5",
              "name": "message.from.first_name",
              "value": "={{ $('Workflow Configuration').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "d1c2eb68-3a4d-4977-9d66-189e3f773d54",
              "name": "message.from.last_name",
              "value": "={{ $('Workflow Configuration').item.json.message.from.last_name }}",
              "type": "string"
            },
            {
              "id": "940f24b2-6b6e-483b-878e-0162010343c2",
              "name": "message.from.username",
              "value": "={{ $('Workflow Configuration').item.json.message.from.username }}",
              "type": "string"
            },
            {
              "id": "99c319d1-c288-4003-ade0-8d7cc3fa1a4c",
              "name": "message.chat.id",
              "value": "={{ $('Workflow Configuration').item.json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "f075e06b-43f0-48be-a30b-08ac33700294",
              "name": "message.text",
              "value": "={{ $('Workflow Configuration').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "ca806d95-0f77-404d-97b0-5111e9065970",
              "name": "message.photo[0].file_id",
              "value": "={{ $('Workflow Configuration').item.json.message.photo?.at(-1)?.file_id }}",
              "type": "string"
            },
            {
              "id": "9a12666f-8bb0-42b8-bfe6-717e91fbdbc4",
              "name": "message.date",
              "value": "={{ $('Workflow Configuration').item.json.message.date }}",
              "type": "string"
            },
            {
              "id": "a4d0e36d-8b74-4167-8b38-e33249a890be",
              "name": "content.parts[0].text",
              "value": "={{ $json.content?.parts[0]?.text}}",
              "type": "string"
            },
            {
              "id": "ed1d299a-e59c-405d-a8d1-3f5f1522409f",
              "name": "ImagewebViewLink",
              "value": "={{ $if($('Upload file').isExecuted, $('Upload file').item.json.webViewLink, 'no image') }}",
              "type": "string"
            },
            {
              "id": "0851aae1-2df7-4797-bec2-3324a63108f5",
              "name": "TYPE",
              "value": "={{ $json.TYPE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5728,
        -304
      ],
      "id": "03651942-c6ff-4700-b006-33f0752e55e2",
      "name": "Agent Vars"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5488,
        -320
      ],
      "id": "8717d8ae-d08e-4e28-a207-9a4afa63fe4c",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 4096,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba908f00-4de5-44f4-8243-4b24828b8f9a",
      "name": "Check Message Length",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7584,
        -416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the message output from the AI agent\nconst message = $input.first().json.output;\n\n// Telegram's message length limit\nconst MAX_LENGTH = 4000;\n\n// If message is short enough, return as is\nif (message.length <= MAX_LENGTH) {\n  return [{ json: { text: message, chatId: chatId } }];\n}\n\n// Split message into chunks while preserving word boundaries\nconst chunks = [];\nlet currentChunk = '';\n\n// Split by sentences first to preserve context\nconst sentences = message.match(/[^.!?]+[.!?]+/g) || [message];\n\nfor (const sentence of sentences) {\n  // If a single sentence is longer than MAX_LENGTH, split by words\n  if (sentence.length > MAX_LENGTH) {\n    const words = sentence.split(' ');\n    for (const word of words) {\n      if ((currentChunk + ' ' + word).length > MAX_LENGTH) {\n        if (currentChunk) {\n          chunks.push(currentChunk.trim());\n          currentChunk = word;\n        } else {\n          // Single word is too long, force split\n          chunks.push(word.substring(0, MAX_LENGTH));\n          currentChunk = word.substring(MAX_LENGTH);\n        }\n      } else {\n        currentChunk += (currentChunk ? ' ' : '') + word;\n      }\n    }\n  } else {\n    // Check if adding this sentence exceeds the limit\n    if ((currentChunk + sentence).length > MAX_LENGTH) {\n      if (currentChunk) {\n        chunks.push(currentChunk.trim());\n      }\n      currentChunk = sentence;\n    } else {\n      currentChunk += sentence;\n    }\n  }\n}\n\n// Add the last chunk if it exists\nif (currentChunk) {\n  chunks.push(currentChunk.trim());\n}\n\n// Return array of items with chunk text and chat ID\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunk,\n    chunkIndex: index + 1,\n    totalChunks: chunks.length\n  }\n}));"
      },
      "id": "ddd22bd3-0040-4fd3-9f2e-73a04c664079",
      "name": "Split Message Into Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        -512
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Workflow Configuration').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "2771f69a-7143-4e48-9aac-2abdab523f7b",
      "name": "Send Message Chunk",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        8304,
        -464
      ],
      "webhookId": "de94312f-da32-465d-b3cb-bdcba2e23c64",
      "credentials": {
        "telegramApi": {
          "id": "u7B4fR7IbpSzio8h",
          "name": "ai_brand_wonder_beauties"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Workflow Configuration').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "05755f05-0eaa-44ad-a0d3-9a69963e78f9",
      "name": "Send Full Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7792,
        -288
      ],
      "webhookId": "23c42050-65fe-4f3f-ada3-5709498b0a6d",
      "credentials": {
        "telegramApi": {
          "id": "u7B4fR7IbpSzio8h",
          "name": "ai_brand_wonder_beauties"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8032,
        -512
      ],
      "id": "5aad1027-3db9-4318-be12-c005fc4c3cc3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY",
          "mode": "list",
          "cachedResultName": "AI Brand  Authenticity Verifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "query_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query_id', ``, 'string') }}",
            "Telegram Username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telegram_Username', ``, 'string') }}",
            "chatID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatID', ``, 'string') }}",
            "product name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_name', ``, 'string') }}",
            "brand name ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('brand_name_', ``, 'string') }}",
            "price that customer paid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('price_that_customer_paid', ``, 'string') }}",
            "seller_info ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('seller_info_', ``, 'string') }}",
            "image_link": "={{ $if($('Upload file').isExecuted, $('Upload file').item.json.webViewLink, 'no image') }}",
            "imageQualityScore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageQualityScore', ``, 'string') }}",
            "risk_score": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('risk_score', ``, 'string') }}",
            "verdict": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('verdict', ``, 'string') }}",
            "reasons": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reasons', ``, 'string') }}",
            "sellerAuthorized": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sellerAuthorized', ``, 'string') }}",
            "searchQueries": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('searchQueries', ``, 'string') }}",
            "searchPerformed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('searchPerformed', ``, 'string') }}",
            "officialMSRP": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('officialMSRP', ``, 'string') }}",
            "timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timestamp', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query_id",
              "displayName": "query_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Username",
              "displayName": "Telegram Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product name",
              "displayName": "product name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "brand name ",
              "displayName": "brand name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price that customer paid",
              "displayName": "price that customer paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_info ",
              "displayName": "seller_info ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_link",
              "displayName": "image_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageQualityScore",
              "displayName": "imageQualityScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasons",
              "displayName": "reasons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sellerAuthorized",
              "displayName": "sellerAuthorized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "searchQueries",
              "displayName": "searchQueries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "searchPerformed",
              "displayName": "searchPerformed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "officialMSRP",
              "displayName": "officialMSRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        6864,
        0
      ],
      "id": "23fae755-54fd-4958-bc98-4a374146829a",
      "name": "Database Logger Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GbDr2Ae2dmd9yDEv",
          "name": "Google Sheets AboodKH"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Workflow Configuration').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a6c45959-5f63-4f18-a0d2-540c260c49dd",
      "name": "Send Full Message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        8064,
        -208
      ],
      "webhookId": "23c42050-65fe-4f3f-ada3-5709498b0a6d",
      "credentials": {
        "telegramApi": {
          "id": "u7B4fR7IbpSzio8h",
          "name": "ai_brand_wonder_beauties"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "name": "={{ $json.result.file_id }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hO_VXXMAUZ6vx1tkvF2QXwKSB9lw1pnw",
          "mode": "list",
          "cachedResultName": "Products Images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hO_VXXMAUZ6vx1tkvF2QXwKSB9lw1pnw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4656,
        -560
      ],
      "id": "9fc544e2-c3a7-482c-b510-5038465e9785",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZoK57uXgsW5GMPxI",
          "name": "Abood Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        6432,
        16
      ],
      "id": "5ebc1d6d-811f-4f94-a7ab-870ab5bc823e",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "nY7SQVIxNzod6qgV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Search For Product info, price,...",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyCcVjwJIRklvyy5GbeODdTh0BLK4kTioug"
            },
            {
              "name": "cx",
              "value": "775f573d7b38a41d0"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `use this to search for the product here `, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        6544,
        208
      ],
      "id": "ebf3ac56-4422-4c2d-9da1-e1fe39b06234",
      "name": "Search For Product Tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "tableName": "n8n_chat_histories_aibrandauthenticity",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6976,
        336
      ],
      "id": "0f6b318c-c631-4d91-8f6c-7575f403d215",
      "name": "CONVERSATION MEMORY",
      "credentials": {
        "postgres": {
          "id": "wAzydSIaJ7EvpyAN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY",
          "mode": "list",
          "cachedResultName": "AI Brand  Authenticity Verifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "query_id",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        7168,
        0
      ],
      "id": "f03d1d09-5f9c-4356-a1de-b429fa3380c9",
      "name": "Get Database Logger Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GbDr2Ae2dmd9yDEv",
          "name": "Google Sheets AboodKH"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3a7d343-5ce6-468a-a8d5-86d9d75f8650",
                    "leftValue": "={{ $json.message.photo?.at(-1)?.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PHOTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "366fd097-72f7-4868-9cfc-f395f18abae2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "696eba18-4aeb-4f61-a50f-65736b07e96a",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4304,
        -240
      ],
      "id": "edf3b15b-6a61-4c73-8cd9-e1b568d1b298",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4928,
        -416
      ],
      "id": "5cea72d8-8b2e-4942-9627-5ea8367b7fb1",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "nY7SQVIxNzod6qgV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4704,
        -416
      ],
      "id": "21ae99b1-a02c-4381-9205-929e2161ef2c",
      "name": "Get a file1",
      "webhookId": "a1fb1ec9-4da9-4edf-aac6-402745c54c1a",
      "credentials": {
        "telegramApi": {
          "id": "u7B4fR7IbpSzio8h",
          "name": "ai_brand_wonder_beauties"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a30990-4f56-41b1-ae4e-492887707d72",
              "name": "TYPE",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4848,
        -192
      ],
      "id": "4bea5805-7deb-4718-b5c2-f9bc11250793",
      "name": "TEXT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a30990-4f56-41b1-ae4e-492887707d72",
              "name": "TYPE",
              "value": "audio",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5136,
        -416
      ],
      "id": "21c32111-eb96-486b-95f3-ed36bf373f44",
      "name": "Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9a30990-4f56-41b1-ae4e-492887707d72",
              "name": "TYPE",
              "value": "photo",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5296,
        -608
      ],
      "id": "be0337cf-d4f3-4125-b162-cc5fa842ebbc",
      "name": "Photo"
    },
    {
      "parameters": {
        "content": "## Input Cases\n",
        "height": 768,
        "width": 1392,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4240,
        -688
      ],
      "typeVersion": 1,
      "id": "af25bd0f-46d6-4d35-90cd-1f8bdc5040e6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Google Sheet Database\n**Here is the link**  [sheet](https://docs.google.com/spreadsheets/u/1/d/1Xuqc0tV2jj33donSiJRzOB2oU1Z6IiUtgmv0vXoxuTU/edit?usp=drivesdk)",
        "height": 336,
        "width": 832,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6784,
        -128
      ],
      "typeVersion": 1,
      "id": "0904485e-6b68-469c-86e2-865c7f02a752",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Memor and Think Tools\n",
        "height": 240,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6912,
        240
      ],
      "typeVersion": 1,
      "id": "60b37b77-7153-4f66-8534-8862f66f6016",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Search For The Product \n**Real Time Data** ",
        "height": 272,
        "width": 368,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6400,
        128
      ],
      "typeVersion": 1,
      "id": "09b96ada-9fae-42dd-82bf-23bfafa80bc7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const escapeMarkdownV2 = (text) => {\n  // Remove horizontal lines\n  text = text.replace(/[-━]{3,}/g, '');\n\n  // Temporarily protect bold/italic markers\n  text = text.replace(/\\*\\*(.*?)\\*\\*/g, '§§$1§§');\n  text = text.replace(/\\*(.*?)\\*/g, '§$1§');\n\n  // Escape only unescaped MarkdownV2 characters\n  text = text.replace(/(?<!\\\\)([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n\n  // Restore bold/italic markers\n  text = text.replace(/§§(.*?)§§/g, '**$1**');\n  text = text.replace(/§(.*?)§/g, '*$1*');\n\n  return text.trim();\n};\n\n// Get the AI output\nlet input = $input.first().json.output || \"\";\n\n// 🔧 Step 1: Remove any \"[Used tools: ...]\" section (even multi-line or with nested brackets)\ninput = input.replace(/\\[Used tools:[\\s\\S]*?(?=(?:\\n{2,}|$))/gi, '').trim();\n\n// 🔧 Step 2: Clean Markdown safely for Telegram\nconst cleanedOutput = escapeMarkdownV2(input);\n\n// Return the cleaned text\nreturn [\n  {\n    json: {\n      output: cleanedOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7280,
        -400
      ],
      "id": "cc47e23a-35d4-421e-a5b5-1045df448e13",
      "name": "Clean & Format Output"
    },
    {
      "parameters": {
        "content": "## Manage Output \n**split the message if was too long**\n",
        "height": 544,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7472,
        -576
      ],
      "typeVersion": 1,
      "id": "cda4dfce-0ade-42b8-99bf-d4c2a26478b9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY",
          "mode": "list",
          "cachedResultName": "AI Brand  Authenticity Verifier",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ylmgux1a-5XVbnoPp5gDwdE4ZdB5Y-dSBk6SWT-faVY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "query_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query_id__using_to_match_', ``, 'string') }}",
            "Telegram Username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telegram_Username', ``, 'string') }}",
            "chatID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatID', ``, 'string') }}",
            "product name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('product_name', ``, 'string') }}",
            "brand name ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('brand_name_', ``, 'string') }}",
            "seller_info ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('seller_info_', ``, 'string') }}",
            "price that customer paid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('price_that_customer_paid', ``, 'string') }}",
            "image_link": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_link', \"from `Get images link db by query` tool\", 'string') }}",
            "imageQualityScore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageQualityScore', ``, 'string') }}",
            "risk_score": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('risk_score', ``, 'string') }}",
            "verdict": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('verdict', ``, 'string') }}",
            "reasons": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reasons', ``, 'string') }}",
            "sellerAuthorized": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sellerAuthorized', ``, 'string') }}",
            "searchQueries": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('searchQueries', ``, 'string') }}",
            "searchPerformed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('searchPerformed', ``, 'string') }}",
            "officialMSRP": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('officialMSRP', ``, 'string') }}",
            "timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timestamp', ``, 'string') }}"
          },
          "matchingColumns": [
            "query_id"
          ],
          "schema": [
            {
              "id": "query_id",
              "displayName": "query_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telegram Username",
              "displayName": "Telegram Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product name",
              "displayName": "product name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "brand name ",
              "displayName": "brand name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price that customer paid",
              "displayName": "price that customer paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seller_info ",
              "displayName": "seller_info ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_link",
              "displayName": "image_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imageQualityScore",
              "displayName": "imageQualityScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_score",
              "displayName": "risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verdict",
              "displayName": "verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasons",
              "displayName": "reasons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sellerAuthorized",
              "displayName": "sellerAuthorized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "searchQueries",
              "displayName": "searchQueries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "searchPerformed",
              "displayName": "searchPerformed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "officialMSRP",
              "displayName": "officialMSRP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        7024,
        0
      ],
      "id": "2333f4fe-c25b-4c29-8e1f-22c90d87d134",
      "name": "Update Database Logger Tool  for query",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GbDr2Ae2dmd9yDEv",
          "name": "Google Sheets AboodKH"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yQWU2T_nhYInWXOM2Lt2NYQQvu1jHqKssJuINX_yvhQ",
          "mode": "list",
          "cachedResultName": "AI Brand  Authenticity Verifier Images db",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yQWU2T_nhYInWXOM2Lt2NYQQvu1jHqKssJuINX_yvhQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yQWU2T_nhYInWXOM2Lt2NYQQvu1jHqKssJuINX_yvhQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "query_id",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        7296,
        0
      ],
      "id": "c969d60d-1d1b-4eed-9702-5d7e0c6a2279",
      "name": "Get images link db by query",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GbDr2Ae2dmd9yDEv",
          "name": "Google Sheets AboodKH"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.8,
          "topK": 40,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        6128,
        128
      ],
      "id": "a574a693-ecfd-4d80-a2ed-540167293cd3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nY7SQVIxNzod6qgV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yQWU2T_nhYInWXOM2Lt2NYQQvu1jHqKssJuINX_yvhQ",
          "mode": "list",
          "cachedResultName": "AI Brand  Authenticity Verifier Images db",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yQWU2T_nhYInWXOM2Lt2NYQQvu1jHqKssJuINX_yvhQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yQWU2T_nhYInWXOM2Lt2NYQQvu1jHqKssJuINX_yvhQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "query_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query_id__using_to_match_', ``, 'string') }}",
            "image_link": "={{ $if($('Upload file').isExecuted, $('Upload file').item.json.webViewLink, 'no image') }}"
          },
          "matchingColumns": [
            "query_id"
          ],
          "schema": [
            {
              "id": "query_id",
              "displayName": "query_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_link",
              "displayName": "image_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        7456,
        0
      ],
      "id": "d399770a-38f1-4820-9ab3-b2824d866a4f",
      "name": "add & update images link db for query",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GbDr2Ae2dmd9yDEv",
          "name": "Google Sheets AboodKH"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4896,
        -656
      ],
      "id": "64f3520c-5fc5-4f81-b798-42d7cc4d5252",
      "name": "Merge1"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 240006899,
          "message": {
            "message_id": 386,
            "from": {
              "id": 1383989988,
              "is_bot": false,
              "first_name": "Abdalrahman",
              "last_name": "Kharzoum",
              "username": "Abdulrahman_Kharzoum",
              "language_code": "en"
            },
            "chat": {
              "id": 1383989988,
              "first_name": "Abdalrahman",
              "last_name": "Kharzoum",
              "username": "Abdulrahman_Kharzoum",
              "type": "private"
            },
            "date": 1763071483,
            "photo": [
              {
                "file_id": "AgACAgQAAxkBAAIBgmkWVftp9LWIZ-tAtf8TyaBUq1MDAAIaDWsbpY2xUBb_Qnbcq-pzAQADAgADcwADNgQ",
                "file_unique_id": "AQADGg1rG6WNsVB4",
                "file_size": 1244,
                "width": 51,
                "height": 90
              },
              {
                "file_id": "AgACAgQAAxkBAAIBgmkWVftp9LWIZ-tAtf8TyaBUq1MDAAIaDWsbpY2xUBb_Qnbcq-pzAQADAgADbQADNgQ",
                "file_unique_id": "AQADGg1rG6WNsVBy",
                "file_size": 15238,
                "width": 180,
                "height": 320
              },
              {
                "file_id": "AgACAgQAAxkBAAIBgmkWVftp9LWIZ-tAtf8TyaBUq1MDAAIaDWsbpY2xUBb_Qnbcq-pzAQADAgADeAADNgQ",
                "file_unique_id": "AQADGg1rG6WNsVB9",
                "file_size": 52900,
                "width": 450,
                "height": 800
              },
              {
                "file_id": "AgACAgQAAxkBAAIBgmkWVftp9LWIZ-tAtf8TyaBUq1MDAAIaDWsbpY2xUBb_Qnbcq-pzAQADAgADeQADNgQ",
                "file_unique_id": "AQADGg1rG6WNsVB-",
                "file_size": 86922,
                "width": 720,
                "height": 1280
              }
            ]
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticity Assistant Agent": {
      "main": [
        [
          {
            "node": "Clean & Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agent Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Vars": {
      "main": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Length": {
      "main": [
        [
          {
            "node": "Split Message Into Chunks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Message Into Chunks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send Message Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message Chunk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Logger Tool": {
      "ai_tool": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Full Message": {
      "main": [
        [],
        [
          {
            "node": "Send Full Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Search For Product Tool": {
      "ai_tool": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CONVERSATION MEMORY": {
      "ai_memory": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Database Logger Tool": {
      "ai_tool": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEXT": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Photo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Format Output": {
      "main": [
        [
          {
            "node": "Check Message Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database Logger Tool  for query": {
      "ai_tool": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get images link db by query": {
      "ai_tool": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "add & update images link db for query": {
      "ai_tool": [
        [
          {
            "node": "Authenticity Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "951677ec-0ce2-4659-93cf-bb1332c75764",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82a07e25bb5446408550f6d7aab9c641753a0ccd2476c2dc971589d3e32f8cc3"
  },
  "id": "E5lrPn3NdwSZaDia",
  "tags": []
}